<section class='discussion-create-section'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
    {{#if errorMessages}}
        <div class='error'>
            {{#each errorMessages}}
                <p>
                    {{this}}
                </p>
            {{/each}}
        </div>
    {{/if}}
    <div class='discussion-create-block'>
        <form action='/forum/discussions/{{discussion._id}}/edit' method='post'>
            <h1>
                Edit Discussion
            </h1>
            <input type='text' value='{{discussion.title}}' placeholder='Title' name='title' />
            <textarea type='text' placeholder='Description' name='description' />{{discussion.description}}</textarea>
            <button>
                Edit
            </button>
        </form>
        <div class='create-discussion-redirect-container'>
            <a class='create-discussion-redirect-link' href='javascript:history.back()'>
                Back
            </a>
        </div>
    </div>
</section>