<section class='login-section'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
    {{#if errorMessages}}
        <div class='error'>
            {{#each errorMessages}}
                <p>
                    {{this}}
                </p>
            {{/each}}
        </div>
    {{/if}}
    <div class='login-block'>
        <form action='/auth/login' method='post'>
            <h1>
                Login
            </h1>
            <input type='text' value='' placeholder='Username' name='username' />
            <input type='password' value='' placeholder='Password' name='password' />
            <button>
                Sign In
            </button>
        </form>
        <div class='auth-redirect-container'>
            <a class='auth-redirect-link' href='/auth/register'>
                Don't have an account? Sign up
            </a>
        </div>
    </div>
</section>