.login-section,
.register-section {
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-block,
.register-block {
    width: 30rem;
    padding: 20px;
    background: rgb(161, 161, 161);
    border-radius: 5px;
    border-top: 5px solid #7952e2;
    margin: 0 auto;
}

.login-block h1,
.register-block h1 {
    text-align: center;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.login-block input,
.register-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 1rem;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input[name='username'],
.register-block input[name='username'] {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input[name='password'],
.register-block input[name='password'],
.register-block input[name='repass'] {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input:active,
.register-block input:active,
.login-block input:focus,
.register-block input:focus {
    border: 1px solid #7952e2;
}

.login-block button,
.register-block button {
    width: 100%;
    height: 40px;
    background: #7952e2;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #45d4f8;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

.login-block button:hover,
.register-block button:hover {
    background: #45d4f8;
}

.auth-redirect-link {
    color: #fff;
}

.auth-redirect-link:hover {
    color: #7952e2;
}
